<h1>Bienvenue sur Kitten Projet, l'appli de photos de chatons super trendy</h1>

<h2>Card Grid</h2>

<%= render 'layouts/card' %>


<!-- Page Content -->
<!--<div class="container">-->
<!--  <div class="row">-->

<!--    <div class="col-lg-3">-->

<!--      <h1 class="my-4">Shop Name</h1>-->
<!--      <div class="list-group">-->
<!--        <a href="#" class="list-group-item">Category 1</a>-->
<!--        <a href="#" class="list-group-item">Category 2</a>-->
<!--        <a href="#" class="list-group-item">Category 3</a>-->
<!--      </div>-->
<!--      <div class="container mt-a pt-5">-->
<!--        <ul>-->
          <%# if user_signed_in? %>
<!--            <li>-->
              <%#= link_to "Sign out", destroy_user_session_path, method: :delete %>
<!--            </li>-->
<!--            <li>-->
<!--              Voici ton email : <%#= current_user.email %>-->
<!--            </li>-->
<!--            <li>-->
              <%#= link_to "Edit email / password", edit_user_registration_path %>
<!--            </li>-->
          <%# else %>
<!--            <li>-->
              <%#= link_to "Sign in", new_user_session_path %>
<!--            </li>-->
<!--            <li>-->
              <%#= link_to "Sign up", new_user_registration_path %>
<!--            </li>-->
          <%# end %>
<!--        </ul>-->


<!--      </div>-->
<!--    </div>-->
    <!-- /.col-lg-3 -->
