<!-- Page Title-->
<h2 class="display-4-selection text-center mb-5">Votre panier</h2>

<div class="row justify-content-around mb-3">
  <div class="col-lg-6">
    <% @items.each do |item| %>
      <div class="row">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://cdn-s-www.dna.fr/images/A2B51F63-FA5C-463B-B27E-3FDCDBDA7CFD/NW_raw/grumpy-cat-avait-7-ans-photo-twitter-1558093797.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h5 class="card-title"><%= item.title %></h5>
                    <small class="text-muted">Chat..pardeur</small>
                  </div>
                  <div class="col">
                    <p class="h3 text-right"><%= item.price %>€</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4">
    <h2 class="text-center mb-5">Total de votre panier</h2>

    <div class="row ml-5">
      <p class="mb-3"><i class="fas fa-check mr-3"></i>Aucun frais de ports (envoi par mail)</p>
      <p class="mb-3"><i class="fas fa-check mr-3"></i>Satisfait mais pas remboursé</p>
      <p class="mb-3"><i class="fas fa-check mr-3"></i>Animaux non testés en laboratoires</p>
    </div>
    <hr class="mt-5"/>

    <!-- Shipping price-->
    <div class="row">
      <div class="col text-left"><p class="font-weight-bold">Livraison</p></div>
      <div class="col text-right">Gratuite</div>
    </div>
    <!-- Total Products Price -->
    <div class="row">
      <div class="col text-left"><p class="font-weight-bold">Sous-total</p></div>
      <div class="col text-right"><%= @cart_price %>€</div>
    </div>

    <!-- Create order Button -->
    <div class="row justify-content-center">
      <a href="#" class="btn btn-primary" type="submit">Passer commande</a>
    </div>
  </div>
</div>

<h2> Test en cours...</h2>
<%=
  if current_user()
    # puts @cart.items[0].title
  end
%>


