<!-- Page Title-->
<h1 class="display-4 text-center">Kittens Projet, <br />l'appli de photos de chatons trop <em>trendy</em> !</h1>

<!-- Page Content -->
<div class="row justify-content-center">

  <!-- Sort by categories -->
  <%= render 'layouts/sorting' %>

  <div class="col-lg-2">
    <%= render 'layouts/user' %>
  </div> <!-- /col-lg-3 -->

  <div class="col-lg-10">
    <%= render 'layouts/cards' %>
  </div>

</div>









