<!-- Page Title-->
<h2 class="display-4-selection text-center mb-5">Notre sélection du jour</h2>

<!-- Page Content -->
<div class="row justify-content-center">

  <!-- Sort by categories -->
  <%= render 'layouts/sorting' %>

  <div class="col-lg-10 mt-5">
    <%= render 'layouts/cards' %>
  </div>

</div>









