<p>Hello <%= @resource.email %>!</p>

<p>Quelqu'un a demandé un lien de réinitilisation de mot de passe. Tu peux le faire grâce au lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'as pas demandé cette réinitialisation, ignore ce mail.</p>
<p>Ton accès ne sera pas changé si tu ne cliques pas sur le lien ci-dessus.</p>
