<!-- Card -->
<div class="row row-cols-1 row-cols-md-2">
  <% 8.times do %>

    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <img src="https://image.winudf.com/v2/image/Y29tLkN1dGVraXR0eS5hbGlmZHJvaWRfc2NyZWVuXzFfMTUwNjQ1NjUyM18wMjc/screen-1.jpg?h=355&fakeurl=1&type=.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <!-- Name + Breed-->
              <h5 class="card-title">Cat name <span class="badge badge-secondary">Persan</span></h5>
            </div>
            <div class="col-4">
              <!-- Notation -->
              <p class="card-text text-center"><small class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</small></p>
            </div>
          </div>
          <!-- Description -->
          <p class="card-text"><%= truncate("Some quick example text to build on the card title and make up the bulk of the card's content.", :length => 80) %></p>
          <!-- Price -->
          <p class="card-text h4 text-center">199.90€</p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary"><i class="fas fa-cart-arrow-down"></i> Ajouter au panier</a>
        </div>
      </div>
    </div>
  <% end %>

</div>
