<!-- Footer-->
<footer class="py-5 bg-primary">
  <div class="container-fluid">
    <p class="m-0 text-center text-white">
      Developped with &#10084;&#65039; by
      <a href="//github.com/Julio-Bento-Diddy-Lara-Detsou-team/The-not-loosing-a-joker-because-of-a-kitty-Project" target="_blank" class="text-light">
      The Covid-Killers-Team 	&#128298; </a>
      for <a href="//www.thehackingproject.org/fr" target="_blank" class="text-light">THP</a>
    </p>
  </div>
</footer>
