<!-- Footer -->
<footer class="footer bg-dark">
  <div class="container text-center">
    <p class="text-light m-0">
      Developped with &#10084;&#65039; by
      <a href="//github.com/Julio-Bento-Diddy-Lara-Detsou-team/The-not-loosing-a-joker-because-of-a-kitty-Project" target="_blank">
      The Covid-Killers-Team 	&#129440; 	&#128298; &#129656; </a>
      for <a href="//www.thehackingproject.org/fr" target="_blank">THP</a>
    </p>
  </div>
</footer>
