<!-- JUMBOTRON -->
<section>
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center text-light">
      <h1 class="display-4">This is the main title</h1>
      <h2 class="h3">This is the main catch phrase of the website, aiming to make the user buy something</h2>
      <hr class="my-4">
      <a type="button" class="btn btn-primary btn-lg  m-3" href="#">Primary call to action</a>
      <a type="button" class="btn btn-outline-secondary btn-lg m-3" href="#">Secondary call to action</a>
    </div>
  </div>
</section>
