<!-- JUMBOTRON -->
<section>
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center text-light">
      <h1 class="display-4">Kitty Sweety,</h1>
      <h2 class="h3 mb-3">l'appli de photos de chatons trop <em>trendy</em> !</h2>

    </div>
  </div>
</section>
