<!-- Sort by categories -->
<div class="col-6">
  <div class="row justify-content-around">
    <a href="#" class="btn btn-outline-primary">Marque de chat 1</a>
    <a href="#" class="btn btn-outline-primary">Marque de chat 2</a>
    <a href="#" class="btn btn-outline-primary">Marque de chat 3</a>
  </div>
</div>
